db.sqlite3
identifier.sqlite
dataco/__pycache__/__init__.cpython-310.pyc
dataco/__pycache__/settings.cpython-310.pyc
dataco/__pycache__/urls.cpython-310.pyc
dataco/__pycache__/wsgi.cpython-310.pyc
myapp/__pycache__/__init__.cpython-310.pyc
myapp/__pycache__/admin.cpython-310.pyc
myapp/__pycache__/apps.cpython-310.pyc
myapp/__pycache__/models.cpython-310.pyc
myapp/__pycache__/serializer.cpython-310.pyc
myapp/__pycache__/urls.cpython-310.pyc
myapp/__pycache__/views.cpython-310.pyc
myapp/migrations/0001_initial.py
myapp/migrations/__pycache__/__init__.cpython-310.pyc
myapp/migrations/__pycache__/0001_initial.cpython-310.pyc
scrap/__pycache__/__init__.cpython-310.pyc
scrap/__pycache__/apps.cpython-310.pyc
scrap/__pycache__/items.cpython-310.pyc
scrap/__pycache__/pipelines.cpython-310.pyc
scrap/__pycache__/settings.cpython-310.pyc
scrap/management/__pycache__/__init__.cpython-310.pyc
scrap/management/commands/__pycache__/__init__.cpython-310.pyc
scrap/management/commands/__pycache__/crawl.cpython-310.pyc
scrap/spiders/__pycache__/__init__.cpython-310.pyc
scrap/spiders/__pycache__/company.cpython-310.pyc
